#bottom-bar
  #hand(
    ng-hover-hand=''
  )
    img.hand(
      ng-hover-card
      ng-drag=
        'true', 
      ng-drag-data=
        '{index: $index, card: c}', 
      ng-click=
        'yourTurn() ? handClicked(you(), game, meta, {index: $index, card: c}) : null', 
      ng-repeat=
        'c in you().hand track by $index', 
      style=
        'left: {{ $index * spacing }}px;bottom:{{ 4 + (c.selected ? 4 : 0) }}%;', 
      src=
        'images/cards/{{ c.name }}.png', 
      alt=
        '{{ c.name }}'
    )
  img.deck(
    src= 
      '/images/cards/Jack.png'
    ng-click=
      'yourTurn() ? jackClicked(you(), game, meta) : null',
  )
  img.deck(
    src= 
      '/images/cards/deck.png'
    ng-click=
      'yourTurn() ? deckClicked(you(), game, meta) : null'
  )
  .pool
    button.pool-counter(
      ng-drag=
        'game.pool[color] > 0 && yourTurn() && hasArchway(you())',
      ng-drag-data=
        '{color:color}',
      ng-repeat=
        'color in poolColors', 
      ng-click=
        'yourTurn() ? poolClicked(you(), color, game, meta) : null',
      style=
        'background-color:#{{ colors[color] }}; color: white;background:repeating-linear-gradient(45deg,#{{colors[color]}},#{{colors[color]}} 7px,#{{(6 - game.sites[color] < game.players.length) ? colors[color] : "000"}} 7px,#{{(6 - game.sites[color] < game.players.length) ? colors[color] : "000"}} 14px)'
    )
      | {{ game.pool[color] > 0 ? game.pool[color] : "" }}