#bottom-bar
  #hand(
    ng-hover-hand=''
  )
    img.hand(
      ng-hover-card
      ng-drag=
        'true', 
      ng-drag-data=
        '{index: $index, card: c}', 
      ng-click=
        'yourTurn() ? handClicked(you(), game, meta, {index: $index, card: c}) : null', 
      ng-repeat=
        'c in you().hand track by $index', 
      style=
        'left: {{ $index * spacing }}px;bottom:{{ 4 + (c.selected ? 4 : 0) }}%;{{ isDragging ? "height:92%;" : ""}}',
      src=
        'images/cards/{{ c.name }}.png', 
      alt=
        '{{ c.name }}'
    )
  img.deck(
    src= 
      '/images/cards/Jack.png'
    ng-click=
      'yourTurn() ? jackClicked(you(), game, meta) : null',
  )
  img.deck(
    src= 
      '/images/cards/deck.png'
    ng-click=
      'yourTurn() ? deckClicked(you(), game, meta) : null'
  )
  .pool
    button.pool-counter(
      ng-drag=
        'game.pool[color] > 0 && yourTurn() && hasArchway(you())',
      ng-drag-data=
        '{color:color}',
      ng-repeat=
        'color in poolColors',
      ng-click=
        'yourTurn() ? poolClicked(you(), color, game, meta) : null',
      style=
        '{{game.sites[color] == 0 ? ("border-style:solid;border-width:4px;border-color:#" + colors[color] + ";") : ""}}background-color:#{{ colors[color] }};color: white;background:repeating-linear-gradient(45deg,#{{colors[color]}},#{{colors[color]}} {{game.sites[color] > 0 ? "7" : "0"}}px,#{{(6 - game.sites[color] < game.players.length) ? colors[color] : "000"}} {{game.sites[color] > 0 ? "7" : "0"}}px,#{{(6 - game.sites[color] < game.players.length) ? colors[color] : "000"}} 14px)'
    )
      | {{ game.pool[color] > 0 ? game.pool[color] : "" }}
  button.skip(
    ng-if=
      'yourTurn() && canSkipCurrentAction(you(), game)',
    ng-click=
      'yourTurn() ? skipAction(you(), game, meta) : null'
  )
    | {{ you().actions[0] && you().actions[0].kind == 'Rome Demands' ? "GLORY TO ROME" : "SKIP ACTION"}}
  button.skip(
    ng-if=
      '!yourTurn()',
    ng-click=
      '!yourTurn() ? triggerReconnect() : null'
  )
    | NUDGE