.player-box(
  ng-repeat='player in game.players', 
  style='background-color: #{{ player == game.players[meta.currentPlayer] ? "232" : "222" }};width:{{100/game.players.length}}%;'
)
  .player-clientele-shadow
  .player-clientele
    .client(
      ng-repeat='client in player.clientele track by $index',
      style='background-color:#{{ actionColors[client] }};'
    )
  .player-building-area(
    ng-repeat='building in player.buildings'
  )
    img.building(
      ng-drop='true', 
      ng-drop-success='(yourTurn() && $parent.$index == meta.you) ? dragEnded(you(), $data, $event, building, game, meta) : null', 
      src='images/cards/{{ building.name }}.png', 
      alt='{{ building.name }}'
    )
    .materials-holder(
      style='background:repeating-linear-gradient(-45deg,#FFF,#FFF 7px,#{{colors[building.siteColor]}} 7px,#{{colors[building.siteColor]}} 14px);',
      ng-if='!building.done'
    )
      .materials(
        style='width:{{ 16 * colorValues[building.color] }}%;'
      )
        .material(
          ng-repeat='material in building.materials track by $index',
          style='width: {{ 100 / colorValues[building.color] }}%;background-color:#{{ colors[material] }};'
        )
  .stockpile
    .stockpile-material(
      ng-drag='true', 
      ng-drag-data='{index: $index, material: material}', 
      ng-repeat='material in player.stockpile track by $index', 
      ng-click='yourTurn() ? stockpileClicked(you(), {index: $index, material: material}, game, meta) : null', 
      style='background-color:#{{ colors[material] }}'
    )