doctype html
html
  include ./includes/head.jade
  body(
    ng-app='GTR'
  )
    .container(
      ng-if='!game.started',
      ng-controller='setupController as setup'
    )
      include ./includes/create.jade
      include ./includes/setup.jade

    #fixed-container(
      ng-if='game.started',
      ng-controller='gtrController as gtr'
    )
      include ./includes/heading.jade
      include ./includes/player.jade
      include ./includes/bottom.jade