.score-box(
  ng-if='meta.finished'
)
  .score
    | {{ player.winner ? "GLORY TO " + player.name.toUpperCase() : score(player) + " POINTS"}}
  .vault(
    style='background-color: #{{ player == game.players[meta.currentPlayer] ? "DDD" : "444" }}'
  )
    .stockpile-padding
    .stockpile-center
      .stockpile-material(
        ng-repeat='material in player.vault track by $index', 
        style='background-color:#{{ colors[material] }};'
      )