.player-building-area(
  ng-if='!!player.publicBuildings && !meta.finished && !hasAbilityToUseWithoutPublicBuildings(building, player)',
  ng-repeat='building in player.publicBuildings track by $index',
  style='width: {{ (game.players.length == 2 && player.buildings.length + player.publicBuildings.length > 8) ? "15.8333" : "23.75" }}%;'
)
  img.building(
    src='images/cards/{{ building }}.png',
    alt='{{ building }}',
    ng-click='(building == "Vomitorium" && yourTurn()) ? vomitorium(you(), game.pool) : null',
    ng-style='{ "border-color" : "#" + player.actions[0] ? actionBorderColors[player.actions[0].kind] : "000" }',
    ng-class='{ "is-relevant" : $parent.$parent.$index == meta.currentPlayer && hasAbilityToUse(building, player) && player.actions[0] && relevantAction(building, player.actions[0]) }'
)