.stockpile(
  ng-class='{ "is-current" : player == game.players[meta.currentPlayer] }'
)
  .stockpile-padding
  .stockpile-center
    .stockpile-material(
      ng-drag='$parent.$index == meta.you',
      ng-drag-data='{index: $index, material: material}', 
      ng-repeat='material in player.stockpile track by $index', 
      ng-click='yourTurn() && $parent.$index == meta.you ? stockpileClicked(you(), {index: $index, material: material}, game, meta) : null', 
      ng-style='{ "background-color" : "#" + colors[material] }'
    )