.stockpile(
  style='background-color: #{{ player == game.players[meta.currentPlayer] ? "DDD" : "444" }}'
)
  .stockpile-padding
  .stockpile-center
    .stockpile-material(
      ng-drag='$parent.$index == meta.you',
      ng-drag-data='{index: $index, material: material}', 
      ng-repeat='material in player.stockpile track by $index', 
      ng-click='yourTurn() && $parent.$index == meta.you ? stockpileClicked(you(), {index: $index, material: material}, game, meta) : null', 
      style='background-color:#{{ colors[material] }};'
    )